*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: sans-serif;
    font-size: 16px;
}

#game-board {
    display: grid;
    height: 40vh;
    width: 40vh;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    background-color: black;
}

.cell {
    background-color: white;
    border: none;
    font-size: 7rem;
    font-weight: bold;
}

.cell[data-token^="X"] {
    content: "X";
    color: rgb(190, 0, 0);
}

.cell[data-token^="O"] {
    content: "O";
    color: rgb(0, 170, 0);
}

.cell[data-token*="W"] {
    background-color: gray;
    color: white;
}

.cell:hover:not([data-token]) {
    cursor: pointer;
    background-color: lightgray;
}

#turn-indicator {
    text-align: center;
    font-size: 3rem;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
    margin: 1.5rem auto;
}

.player-name-container {
    display: inline-block;
    margin: 0.3rem 0;
}

input {
    font-size: 1.5rem;
}

input[disabled] {
    border: none;
    background-color: transparent;
    color: black;
}

.icon {
    height: 2rem;
    position: relative;
    top: 0.4rem;
    fill: gray;
}

.icon:hover {
    fill: black;
    cursor: pointer;
}

.icon[disabled] {
    display: none;
}

.right-align {
    text-align: right;
}

#restart-button {
    font-size: 2.5rem;
    padding: 1rem;
    border: none;
    border-radius: 0.625rem;
    background-color: gray;
    color: white;
}

#restart-button:hover {
    cursor: pointer;
    background-color: black;
}
